/.vscode/
/__pycache__/

/Student/__pycache__/
/Guidance/__pycache__/
/Student/.streamlit/secrets.toml
/Guidance/.streamlit/secrets.toml
/Student/private/
/Guidance/private/
/Student/private_*.py
/Guidance/private_*.py
/Student/*.bat
/Guidance/*.bat
/Student/*.command
/Guidance/*.bat

.DS_Store

/Student/.DS_Store
/Guidance/.DS_Store